@font-face { font-family: "freescpt";
src: url("../fuentes/FREESCPT.ttf") }
@font-face {font-family: "sitka";
src: url("../fuentes/Sitka.ttf");}
@font-face {font-family: "vladimir";
src: url("../fuentes/VLADIMIR.ttf");}
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

body  {text-align: center; background-color: #ECBBF8; }
.Titulo {text-decoration: underline; background-color:#BFFBEF; font-family:"Arial" ;}
.Subtitulo {color:#0349AB ; background: #B0FCE7; font-family: "freescpt";}
.contactos {background-color: #FCB8B0 ;}
#SubAmarillo {background-color: #FCF1B0 ; font-family: "Cedarville Cursive"cursive;}

header  {background-color: #D57EDD;
        font-size: 1rem;
        font-family: "freescpt";
        text-decoration: underline;
         border: #130000 1px solid;
         position: relative;
         bottom: -20px;
          top: 10px;
           left: 15px;
         right: 20px; }


@media (max-width: 575px) { body
 {background-color: #FCF1B0;}
}
@media (max-width: 768px) {
  img {width: 30vw;}
}
@media (max-width: 575px) {
  img {position: relative;
    width: 45vw; }
}

.elemento1 {background-color:#A6FD80; }
.elemento2 {background-color: #FDD980;}
.elemento3 {background-color: #FD80CF;}
.elemento4 {background-color: #C8A8EA;}

section {background-color: #81DBE0;
  font-family: "sitka" ;
  font-size: 1rem;
  width: 600px ;
  height: 950px ;
  float: left;
  position: static;}

.info {background-color: #DBFCB0 ; font-size: 1rem;}

img { position: relative;
  width: 45vw; }



aside {background-color: #EBE262;
  font-size: 1rem;
  float: left;
  position: static;
  width: 50%;
  height: 100%;}
