body {text-align: center; background-color: #ECBBF8; }
.VerdeAqua {font-size: xx-large ; text-decoration: underline; background-color:#BFFBEF; font-family:sans-serif ;}
#ColorAmarillito {background-color:#F9F5A3; font-family:monospace;}
.ColorAzul {font-size: large ; color:#0349AB ;}
.Empanadas {width: 600px ; height:350px ;  }
